<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="../js/scriptTopic.js"></script>
    <link rel="stylesheet" href="../css/style.css">

    <title>Forum Triple A</title>
  </head>

  <body>
      <ul class="nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="#forum">Forum</a></li>
        <li><a class="active" href="#topic">Topic</a></li>
        <li><a href="#about">About</a></li>
        <li class="profil"><a href="login.html">Profil</a></li>
      </ul>

      <div class="topicView" id="topicView">

      </div>

  </body>
</html>
